# This is the backend address visible to the phone, usually your computer's LAN IP.
EXPO_PUBLIC_API_URL=http://10.191.92.130:7000
EXPO_PUBLIC_CLOUDFRONT_DOMAIN=
EXPO_PUBLIC_AUTHORITY_URL=http://10.191.92.130:3000
