# This is the backend address visible to the phone, usually your computer's LAN IP.
EXPO_PUBLIC_API_URL=http://192.168.1.4:7000
EXPO_PUBLIC_CLOUDFRONT_DOMAIN=
EXPO_PUBLIC_AUTHORITY_URL=http://192.168.1.4:3000
